# 项目排除路径
/.gradle/
/core/src/test/
/core/build/
/.idea/shelf/___.xml
/.idea/shelf/在变基之前未提交的更改_[默认变更列表]/shelved.patch
/.idea/workspace.xml
/log
/console/out
/test/
/console/src/test
/console/src/test/kotlin/
